<!-- <div class="container-fluid border border-primary">
  <div class="row p-3 justify-content-center">
    <div class="col-6 text-break">
      <input type="text" [(ngModel)]="name1">
      <h1 class="">{{name1}}</h1>
    </div>
    <div class="col-6 text-break">
      <input type="text" [(ngModel)]="name2">
      <h1>{{name2}}</h1>
    </div>

  </div>

</div> -->
<!-- <app-servers></app-servers>
<app-warning></app-warning>
<app-success></app-success> -->

<div class="container">
  <app-cockpit (serverCreated)="onServerAdded($event)" (bpCreated)="onBlueprintAdded($event)"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <app-server-element *ngFor="let serverElement of serverElements"
        [srvElement]="serverElement"></app-server-element>
    </div>

  </div>

</div>